.PlaylistWrapper {
    width: 30%;
    margin-left: 16px;
    height:400px;
}

.PlaylistCard {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.ActiveCard {
    border: 4px solid #fad744;
}